@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import "tailwindcss";


@theme {
  /* Font principale */
  --font-nunito: 'Nunito', sans-serif;

}

body {
  font-family: var(--font-nunito);
}

/* === Nasconde tutte le scrollbar in modo cross-browser === */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}
